{
  "printWidth": 150,
  "tabWidth": 2,
  "useTabs": false,
  "embeddedLanguageFormatting": "off",

  "singleQuote": true,
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "bracketSameLine": false,

  "semi": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "trailingComma": "none",

  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,

  "insertPragma": false,
  "requirePragma": false
}
